@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 88%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 236 64% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 0 67% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 67% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 236 64% 30%;
    --radius: 0.5rem;
    --chart-1: 236 64% 30%;
    --chart-2: 48 96% 53%;
    --chart-3: 0 67% 51%;
    --chart-4: 140 50% 45%;
    --chart-5: 280 50% 55%;
  }

  .dark {
    --background: 240 5% 15%;
    --foreground: 0 0% 98%;
    --card: 240 5% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 236 70% 75%;
    --primary-foreground: 236 64% 15%;
    --secondary: 240 4% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 25%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 80% 70%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 80% 70%;
    --destructive-foreground: 0 0% 10%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 236 70% 75%;
    --chart-1: 236 70% 75%;
    --chart-2: 48 80% 60%;
    --chart-3: 0 80% 70%;
    --chart-4: 140 60% 65%;
    --chart-5: 280 60% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
